.vscode/
src/*/*.o
src/client/client.log
src/server/server.log
src/server/ChatRooms/*
src/server/Clients/*
src/server/Friends/*
src/server/serveur
src/server/tetris
src/client/client
src/server/users.txt
src/server/gameInvitations.txt