.vscode/
src/*/*.o
src/client/client.log
src/server/server.log
src/server/ChatRooms/*
src/server/Clients/*
src/server/Friends/*
src/server/serveur
src/server/tetris
src/client/client
src/server/*.json
src/server/*.o
src/server/data/*.o
src/server/notification.*
src/server/DataManager.*
src/server/ChatRooms/*
src/server/Clients/*