src/server/*.db
src/*/*.o
src/*/*.log
src/server/ChatRooms/*
src/server/Clients/*
src/server/Friends/*
src/server/serveur
src/server/tetris
src/client/client
src/server/users.txt
src/server/gameInvitations.txt

src/*/*/*.o
*.json